html {
  box-sizing: border-box;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

body {
  font-family: "vremenagroteskbook", sans-serif;
  min-height: 100vh;
  margin: 0;
  padding: 0;
  overflow-x: hidden;
}

.scroller-top {
  position: absolute;
  top: 20px;
  left: 20px;
  width: calc(100% - 20px);
  display: flex;
  align-items: center;
  font-size: 1.5rem;
  letter-spacing:-1.3px;
}

#turning-circle {
  max-height: 50px;
  animation: rotation 2s linear infinite;
}

@keyframes rotation {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(359deg);
  }
}

.welcome {
  height: 85vh;
}

.welcome .logo {
  position: absolute;
  margin: 0 auto;
  width: 100%;
  height: 90%;
  top: 0;
}

.logo img {
  position: absolute;
  width: 90%;
  margin: auto;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
}

.apply {
  font-size: 5rem;
  position: absolute;
  margin: auto;
  top: 25vh;
  left: 2rem;
  z-index: 999;
  letter-spacing:-3.5px;
}

.info {
  display: flex;
  flex-direction: row;
}

.info div {
  border: black 2px solid;
  padding: 2rem;
  width: 25%;
  transform-origin: left;
  transition: all 500ms linear;
}

.info div:hover {
  width: 50%;
}

@media screen and (max-width: 1024px) {
  .info {
    flex-direction: column;
  }
  .info div {
    padding: 2rem;
    padding-right: 6rem;
    width: 100%;
  }
  .info div:hover {
    width: initial;
  }
}

.violet {
  color: #aa1cfc;
}

.about {
  background: url("https://cdn.glitch.com/d16c3eff-d0c3-4fe0-a6e0-e96c63374fc4%2Fabout_bg3.png?v=1617444666772");
  background-size: cover;
  background-position: center center;
  
}
.application {
  background: url("https://cdn.glitch.com/d16c3eff-d0c3-4fe0-a6e0-e96c63374fc4%2Fapplication_bg3.png?v=1617445074417");
  background-size: cover;
  background-position: top left;
}
.timeline {
  background: url("assets/timeline_bg3.png");
  background-size: auto;
  background-position: top center;
}
.cost {
  background: url("https://cdn.glitch.com/d16c3eff-d0c3-4fe0-a6e0-e96c63374fc4%2Fcost_bg2.png?v=1617396640209");
  background-size: auto; 
  /* cover fills the frame, contain resizes so it fits inside the frame, auto uses the initial px values of the image  */
  /* https://developer.mozilla.org/en-US/docs/Web/CSS/CSS_Backgrounds_and_Borders/Resizing_background_images */
  background-repeat: no-repeat;
  background-position: top center;
}

button {
  color: black;
  background: white;
  border: 4px black solid;
  padding: 1rem;
  font-size: 2rem;
  cursor: pointer;
}

button:hover {
  color: white;
  background: #aa1cfc;
  border: 4px #deff00 solid;
}


/* typography */

h2 {
  font-size: 5rem;
  font-style: italic;
  letter-spacing:-3px;
  margin-top: 0;
  word-break: break-all;
  line-height: 0.6;
}
p {
  text-indent: 2rem;
  font-size: 2rem;
  line-height: 1.2;
  letter-spacing:-1px;
  
}

ul {
  padding-left: 1rem;
}

ul li {
  list-style: none;
  font-size: 2rem;
  margin-bottom: 2rem;
}
